@import "@angular/material/theming";
@include mat-core();

$custom-app-primary: mat-palette($mat-deep-purple, 500);
$custom-app-secondary: mat-palette($mat-deep-purple, 900);
$custom-app-warn: mat-palette($mat-red, 700);

$custom-theme: mat-dark-theme(
  $custom-app-primary,
  $custom-app-secondary,
  $custom-app-warn
);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
